﻿<div class="jumbotron">
    <div ng-app="myApp" ng-controller="myCtrl">        
        Select City:<br>
        <select id="city" class="form-control" ng-model="citySelected" ng-change="filter(citySelected)">
            <option value="0" selected="selected">Select a city...</option>
            <option ng-repeat="city in cities" value="{{city.CityID}}">
                {{city.Name}}
            </option>
        </select>
        <input type="hidden" id="cityID" value="0">        
        <input type="hidden" id="start" value="0">
        <input type="hidden" id="length" value="5">
        <div ng-repeat="x in restaurants"><a href="~/Home/Details/{{x.RestaurantID}}">{{x.Name}}</a></div>

        <button ng-click="previous()"><</button> <button ng-click="next()">></button>
    </div>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {

    $http.get("/api/city")
    .then(function (response) {
        $scope.cities = response.data;        
    });

    $http.get("/api/restaurant?cityID=0&start=0&length=" + jQuery("#length").val())
    .then(function (response) {
        $scope.restaurants = response.data;        
    });

    $scope.filter = function (citySelected) {
        jQuery("#cityID").val(citySelected);
        $http.get("/api/restaurant?cityID=" + jQuery("#cityID").val() + "&start=" + jQuery("#start").val() + "&length=" + jQuery("#length").val())
        .then(function (response) {
            $scope.restaurants = response.data;
        }, function (response) {
            alert(response.statusText);
        });
    };

    $scope.previous = function () {
        if (jQuery("#start").val() != "0")
            jQuery("#start").val(parseInt(jQuery("#start").val()) - parseInt(jQuery("#length").val()));
        $http.get("/api/restaurant?cityID=" + jQuery("#cityID").val() + "&start=" + jQuery("#start").val() + "&length=" + jQuery("#length").val())
        .then(function (response) {
            $scope.restaurants = response.data;
        }, function (response) {
            alert(response.statusText);
        });
    };

    $scope.next = function () {
        if ($scope.restaurants.length == parseInt(jQuery("#length").val()))
            jQuery("#start").val(parseInt(jQuery("#start").val()) + parseInt(jQuery("#length").val()));        
        $http.get("/api/restaurant?cityID=" + jQuery("#cityID").val() + "&start=" + jQuery("#start").val() + "&length=" + jQuery("#length").val())
        .then(function (response) {
            $scope.restaurants = response.data;
        }, function (response) {
            alert(response.statusText);
        });
    };
});
</script>

