﻿<div class="jumbotron">
    <div ng-app="myApp" ng-controller="myCtrl">

        <h1>{{restaurant.Name}}</h1>

        <div ng-repeat="x in nearestRestaurants"><a href="~/Home/Details/{{x.RestaurantID}}">{{x.Name}}</a> {{x.Distance}}</div>

    </div>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
    $http.get("/api/restaurant/@ViewBag.Id")
    .then(function(response) {
        $scope.restaurant = response.data[0];
        $scope.nearestRestaurants = response.data[1];
    }, function (response) {
        alert(response.statusText);
    });
});
</script>

