﻿<div class="jumbotron">
    <div ng-app="myApp" ng-controller="formCtrl">
        <form name="myForm">
            Name:<br>
            <input type="text" class="form-control" name="Name" id="Name" ng-model="Name" required>
            Latitude:<br>
            <input type="number" step="0.000001" class="form-control" name="Latitude" id="Latitude" ng-model="Latitude" required>
            Longitude:<br>
            <input type="number" step="0.000001" class="form-control" name="Longitude" id="Longitude" ng-model="Longitude" required>
            City:<br>
            <select class="form-control" name="CityID" id="CityID" ng-model="CityID" required>
                <option value=""></option>
                <option ng-repeat="x in cities" value="{{x.CityID}}">{{x.Name}}</option>
            </select>
            <br>
            <input type="hidden" name="Location" id="Location" ng-model="Location" required>
            <button ng-click="submitData()">Save</button>
        </form>
        <br>
        <div ng-repeat="x in restaurants"><a href="~/Home/Details/{{x.RestaurantID}}">{{x.Name}}</a></div>
    </div>
</div>    
<script>
    var app = angular.module('myApp', []);
    app.controller('formCtrl', function ($scope, $http) {

    $http.get("/api/city")
    .then(function (response) {
        $scope.cities = response.data;
    });

    $http.get("/api/restaurant")
    .then(function (response) {
        $scope.restaurants = response.data;
    });
    
    $scope.submitData = function () {
        jQuery("#Location").val("POINT(" + jQuery("#Latitude").val() + " " + jQuery("#Longitude").val() + ")");

        $http({
            method: 'POST',
            url: '/api/restaurant',
            data: { "Name": jQuery("#Name").val(), "CityID": jQuery("#CityID").val(), "Location": jQuery("#Location").val(), "Latitude": jQuery("#Latitude").val(), "Longitude": jQuery("#Longitude").val() },
            headers: {'Content-Type': 'application/json'}
        })
        .then(function (response) {
            alert("Success!");
            $http.get("/api/restaurant")
            .then(function (response) {
                $scope.restaurants = response.data;
            });
        }, function (response) {
            alert(response.statusText);
        });        
    };
});
</script>